
#opts-footer {
	border-top: 1px solid #DFDFDF;
}

#opts-footer #opts-share {
	float: left;
}

#opts-footer #opts-share a {
	margin-right: 10px;
}

#opts-footer #opts-share a img {
	margin-bottom: -3px;
}
