
#opts-save {
	margin: 0px;
	border-bottom: 1px solid #DFDFDF;
	background-color: #DFF0D8;
	color: #468847;
	padding: 8px 35px 8px 14px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

#opts-imported {
	margin: 0px;
	border-bottom: 1px solid #BCE8F1;
	background-color: #D9EDF7;
	color: #3A87AD;
	padding: 8px 35px 8px 14px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

#opts-save-warn {
	margin: 0px;
	display: none;
	border-bottom: 1px solid #DFDFDF;
	background-color: #FCF8E3;
	color: #C09853;
	padding: 8px 35px 8px 14px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

#opts-field-warnings {
	margin: 0px;
	display: none;
	border-bottom: 1px solid #DFDFDF;
	background-color: #FCF8E3;
	color: #C09853;
	padding: 8px 35px 8px 14px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

#opts-field-errors {
	margin: 0px;
	display: none;
	border-bottom: 1px solid #DFDFDF;
	background-color: #F2DEDE;
	color: #B94A48;
	padding: 8px 35px 8px 14px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
