
.opts-group-tab {
	display: none;
}

.opts-group-tab h3 {
	margin-top: 0px;
	font-size: 1.8em;
	line-height: 2em;
	border-bottom: 1px solid #DFDFDF;
}

.opts-group-tab .opts-section-desc {
	font-style: italic;
	font-size: 1.2em;
	color: #666666;
}

.opts-group-tab .form-table {
	clear: none;
	margin-top: 20px;
}

.opts-group-tab .form-table.no-border {
	border-top: none;
}

.opts-group-tab .form-table tr {
	border-bottom: 1px solid #DFDFDF;
}

.opts-group-tab .form-table tr:last-child {
	border-bottom: none;
}

.opts-group-tab .form-table tr th,
.opts-group-tab .form-table tr td {
	padding: 20px 20px 40px 20px;
	color: #333333;
}

.opts-group-tab .form-table tr th {
	font-weight: bold;
	font-size: 1.1em;
	width: 30%;
}

.opts-group-tab .form-table tr th span:first-child {
	font-weight: normal;
	display: block;
	color: #666666;
}

.opts-group-tab .form-table tr td .opts-th-warning {
	font-size: 1em;
	color: #C09853;
	font-weight: normal;
	display: block;
}

.opts-group-tab .form-table tr td .opts-field-warning {
	border-color: #C09853;
}

.opts-group-tab .form-table tr td .opts-th-error {
	font-size: 1em;
	color: #B94A48;
	font-weight: normal;
	display: block;
}

.opts-group-tab .form-table tr td .opts-field-error {
	border-color: #B94A48;
}


/* reset nested tables for mce */
.opts-group-tab .form-table tr td table.mceLayout,
.opts-group-tab .form-table tr td table.mceLayout tr,
.opts-group-tab .form-table tr td table.mceLayout tr td {
	padding: 0px;
	border-width: 0px;
}

.opts-group-tab .opts-theme-data {
	padding: 20px 0px;
	border-top: 1px solid #DFDFDF;
}

.opts-group-tab .opts-theme-data.theme-uri,
.opts-group-tab .opts-theme-data.theme-author,
.opts-group-tab .opts-theme-data.theme-version {
	padding: 0px;
	border-width: 0px;
}

.opts-group-tab .opts-theme-data.theme-description {
	padding: 10px 0px;
	border-width: 0px;
}
